<ul>
  {{#each data}}
    <a href="{{../_href.marriage}}?idcard={{idcard}}&id={{id}}">
      <li class="list__item">
          <div class="list__item--info">
            <div class="info__name">对象：{{spouseName}}</div>
            <div class="info__card">时间：{{occurrenceTime}}</div>
            <div class="info__card">类型：{{typeStr}}</div>
          </div>
        <i class="_icon icon-arrow"></i>
      </li>
    </a>
  {{/each}}
</ul>
<div class="form-btn">
  <button type="button"><a href="{{_href.marriage}}?idcard={{idcard}}">添加婚姻信息</a></button>
</div>
