{{#if id}}
<form class="form-container" id="livestockForm">
  <div class="input__text">
    <label>牲畜类型</label>
    <input type="text" value="{{data.typeStr}}" readonly/>
  </div>

  <div class="input__text">
    <label>品种名称</label>
    <input type="text" name="variety" value="{{data.variety}}" />
  </div>

  <div class="input__text">
    <label>数量</label>
    <input type="text" name="count" value="{{data.count}}" />
  </div>

  <div class="input__text">
    <label>起始日期</label>
    <input type="text" name="beginDate" value="{{data.beginDate}}" />
  </div>

  <div class="input__text">
    <label>终止日期</label>
    <input type="text" name="endDate" value="{{data.endDate}}" />
  </div>

  <div class="input__text">
    <label>本年度价值</label>
    <input type="text" name="assetValue" value="{{data.assetValue}}" />
  </div>
  <div class="_textarea">
    <label>备注</label>
    <textarea name="remark" rows="4">{{data.remark}}</textarea>
  </div>


  <div class="form-btn">
    <button type="button" id="addLivestockBtn">保存个人牲畜信息</button>
  </div>

{{else}}

<form class="form-container" id="livestockForm">
  <div class="input__select">
    <label>牲畜类型</label>
    <select name="type">
      <option value="0">猪</option>
      <option value="1">牛</option>
      <option value="2">羊</option>
      <option value="3">兔</option>
      <option value="4">狗</option>
      <option value="5">猫</option>
      <option value="6">鸡</option>
      <option value="7">鸭</option>
      <option value="8">鹅</option>
      <option value="9">鱼</option>
    </select>
  </div>

  <div class="input__text">
    <label>品种名称</label>
    <input type="text" name="variety" />
  </div>

  <div class="input__text">
    <label>数量</label>
    <input type="text" name="count" />
  </div>

  <div class="input__select">
    <label>起始日期</label>
    <select name="start_year">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="start_month">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="start_date">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>

  <div class="input__select">
    <label>终止日期</label>
    <select name="end_year">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="end_month">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="end_date">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>

  <div class="input__text">
    <label>本年度价值</label>
    <input type="text" name="assetValue" />
  </div>
  <div class="_textarea">
    <label>备注</label>
    <textarea name="remark" rows="4"></textarea>
  </div>


  <div class="form-btn">
    <button type="button" id="addLivestockBtn">保存个人牲畜信息</button>
  </div>
</form>

{{/if}}
