{{#if id}}

<form class="form-container" id="landForm">
  <div class="input__text">
    <label>耕地面积</label>
    <input type="text" name="arableArea" value="{{data.arableArea}}" />
  </div>

  <div class="input__text">
    <label>起始日期</label>
    <input type="text" name="arableBeginDate" value="{{data.arableBeginDate}}" />

  </div>
  <div class="input__text">
    <label>终止日期</label>
    <input type="text" name="arableEndDate" value="{{data.arableEndDate}}" />
  </div>


  <div class="input__text">
    <label>林地面积</label>
    <input type="text" name="woodlandArea" value="{{data.woodlandArea}}" />
  </div>

  <div class="input__text">
    <label>起始日期</label>
    <input type="text" name="woodlandBeginDate" value="{{data.woodlandBeginDate}}" />

  </div>
  <div class="input__text">
    <label>终止日期</label>
    <input type="text" name="woodlandEndDate" value="{{data.woodlandEndDate}}" />
  </div>

  <div class="form-btn">
    <button type="button" id="addFamilyAssetBtn">修改家庭公有资产信息</button>
  </div>
</form>

{{else}}

<form class="form-container" id="landForm">
  <div class="input__text">
    <label>耕地面积</label>
    <input type="text" name="arableArea" />
  </div>

  <div class="input__select">
    <label>起始日期</label>
    <select name="start_year_1">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="start_month_1">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="start_date_1">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>

  <div class="input__select">
    <label>终止日期</label>
    <select name="end_year_1">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="end_month_1">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="end_date_1">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>


  <div class="input__text">
    <label>林地面积</label>
    <input type="text" name="woodlandArea" />
  </div>
  <div class="input__select">
    <label>起始日期</label>
    <select name="start_year_2">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="start_month_2">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="start_date_2">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>
  <div class="input__select">
    <label>终止日期</label>
    <select name="end_year_2">
      {{#each options.year}}
      <option>{{this}}</option>
      {{/each}}
    </select>年
    <select name="end_month_2">
      {{#each options.month}}
      <option>{{this}}</option>
      {{/each}}
    </select>月

    <select name="end_date_2">
      {{#each options.date}}
      <option>{{this}}</option>
      {{/each}}
    </select>日
  </div>

  <div class="form-btn">
    <button type="button" id="addFamilyAssetBtn">保存家庭公有资产信息</button>
  </div>
</form>

{{/if}}
